apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  mongodb-uri: "mongodb://mongodb-service:27017/learner-reports"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
data:
  api-url: "http://learner-report-backend-service"
